{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class="col-9 col-md-6">
        <form class="p-2 shadow-lg rounded-2" action="{{ path('app_login') }}" method="post">
            {% if error %}
            <div class="alert alert-danger text-center">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            {% endif %}
            <p>
                <label class="form-label" for="username">Email</label>
                <input class="form-control" type="text" id="username" name="_username" placeholder="Identifiant"
                    value="{{ last_username }}">
            </p>
            <p>
                <label class="form-label" for="password">Mot de passe</label>
                <input class="form-control" type="password" id="password" placeholder="Mot de passe"
                    name="_password">
            </p>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary mb-3 text-white">Connexion</button>
        </form>
    </div>

</div>
{% endblock %}
