$primary: (#3FD9EC);
$secondary: (#FFAED3);
$third: (#FBDEBE);
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
.bg-third {
    background-color: #FBDEBE;
}
.color-third {
    color: #FBDEBE;
}

.title-font {
    font-family: 'Hachi Maru Pop';
}

.profile-picture {
    width: 250px;
    height: 250px;
}

.small-profile-picture {
    width: 140px;
    height: 140px;
}

#description {
    max-width: 300px;
}
