<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href=""/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
        <title>
            {% block title %}Projet 3 Name{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block navbar %}{% include "components/navbar.html.twig" %}{% endblock %}
        </header>
        <main class="container shadow-sm vh-100 w-75">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-xl-10 px-0 ">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>
