<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 title-font" id="descriptionModalLabel">PurrfectMatch</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
            <span class="title-font">PurrfectMatch</span> is here to bring together passionate cat owners, uniting them through the universal language of purrs, playful paws, and delightful meows. Our platform is designed to help you find the perfect match for your furry companion, because we believe that every cat deserves a whisker-worthy connection.
            </p>
            <p>
            Swipe through profiles of charming cats from all walks of life, each with their unique purrsonality and irresistible charm. Discover cats of various breeds, ages, and quirks, and let your heart guide you towards that special feline connection. When two sets of whiskers align, it's a purrfect match!
            </p>
            <p>
            But <span class="title-font">PurrfectMatch</span> isn't just about finding feline friends. It's also a community where cat enthusiasts can come together, share stories, and exchange tips and tricks for providing the best care and love to their furry companions. Join our vibrant community and embark on an unforgettable journey filled with laughter, whisker tickles, and heartwarming meowments.
            </p>
            <p>
            So, if you're ready to unlock a world of cat-tastic connections and create unforgettable memories with fellow cat lovers, <span class="title-font">PurrfectMatch</span> is here to make it happen. Start swiping, chatting, and exploring the purr-fect companionship for your furry friend today!
            </p>
            <p>
            Remember, when it comes to finding feline friendships, <span class="title-font">PurrfectMatch</span> is the cat's meow!
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>