{% extends 'base.html.twig' %}

{% block title %}Edit Cat{% endblock %}

{% block body %}
    <h1>Edit your furry friend's profile</h1>

    {{ include('cat/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
